// | -------------------------------------------------------------
// | Button
// | -------------------------------------------------------------

.button {
  padding: var(--space-2xs) var(--space-xs);
  border: 2px solid var(--primary-marine-blue);
  border-radius: var(--radius-s);
  color: var(--primary-marine-blue);
  font-weight: bold;
  transition: all var(--animation-speed-fast) var(--cubic-bezier);

  &.active,
  &:hover,
  &:focus-visible {
    background-color: var(--primary-marine-blue);
    color: var(--neutral-white);
  }

  &.inverted {
    background-color: var(--primary-marine-blue);
    color: var(--neutral-white);

    &.active,
    &:hover,
    &:focus-visible {
      background-color: transparent;
      color: var(--primary-marine-blue);
    }
  }
}
