@mixin text-decoration {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-color: transparent;
  text-decoration-skip-ink: none;
  text-underline-offset: 6px;
  transition: text-decoration, text-underline-offset, text-decoration-color, text-decoration-thickness;
  transition-duration: var(--animation-speed-fast);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus-visible {
    text-decoration-color: currentColor;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
}
