---
import '@astrojs/tailwind/base.css'
import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'
import ConsoleFiglet from '../components/ConsoleFiglet.astro'

const {
  title = 'The Mushroom Intranet',
  description = 'This is a demo intranet environment with a Super Mario theme.',
  url = 'https://markteekman.github.io/the-mushroom-intranet/',
  image = 'the-mushroom-intranet/social-preview-image.png',
  author = 'Mark Teekman',
} = Astro.props
---

<html
  lang="en"
  dir="ltr"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="/the-mushroom-intranet/favicon.svg"
    />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={url}
      image={image}
      author={author}
    />

    <style>
      body {
        background-image: url('/the-mushroom-intranet/super-mario-brothers-background-pattern.jpg');
      }
    </style>
  </head>

  <body style="background-color: var(--neutral-magnolia);">
    <div class="wrapper">
      <main id="main-content">
        <slot />
      </main>
      <footer class="px-8 py-4 text-center text-sm">
        Coded by <a href="https://markteekman.nl">Mark Teekman</a>.
      </footer>
    </div>
    <ConsoleFiglet />
  </body>
</html>
